@CHARSET "EUC-KR";

@CHARSET "utf-8";


/* .navbar .container{
	width: 1300px !important;

} */

/**************************************************************/
											/* header css */
/**************************************************************/
body {
	padding-top: 70px;
}

.collapse .nav li {
	border: 0px solid red;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2,
	.col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3,
	.col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5,
	.col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6,
	.col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8,
	.col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9,
	.col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11,
	.col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12
	{
	border: 0px solid red;
	padding: 10px;
}

#logo {
	height: 55px;
	width: 130px;
}

.navbar-brand {
	padding-bottom: 20px;
}

.test {
	margin-bottom: 0px;
}

#upload {
	font-size: 27px;
}

.navnav{
	padding-bottom: 12px;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus{
	background-color: black !important;
}

li p{
	font-weight: bold;
	margin-left: 20px
}


/**************************************************************/
											/* body css */
/**************************************************************/

.contents{
	min-height: 700px !important;
}




/**************************************************************/
											/* footer css */
/**************************************************************/

.foot .foot-container p{
	color: white;
	margin : 2px;
}

.foot .foot-container .foot-container-top>p{
	margin-bottom : 5px;	
}

.foot .foot-container .foot-container-center>p{
	margin-bottom : 5px;	
}

.foot .foot-container .foot-container-bottom>p{
	margin-bottom : 0px;	
}

.foot {
  background : #212124 none repeat scroll 0 0;
  bottom : 0px;
  font-size : 14px;
  left : 0;
  position : relative;
  text-align: center;
  width : 100%;
  height: 80px;
}

.foot .foot-container{
	margin : 0 auto;
	position: relative;
	width : 1060px auto;
}

.foot .foot-container .foot-container-top{
	height: 30%;
}
.foot .foot-container .foot-container-center{
	height : 40%;
}
.foot .foot-container .foot-container-bottom{
	height : 30%;
}

