@CHARSET "EUC-KR";

.center {
	margin-top: -20px;
	width: 100%;
	background-image: url(../../../images/main/main_4.jpg);
}

.login form {
	padding-top: 180px;
	padding-bottom: 200px;
}

#id {
	margin-left: 520px;
}

#pass {
	margin-left: 520px;
}

.button {
	padding-left: 615px;
}
