@CHARSET "utf-8";

p{
	color: white;
	margin : 2px;
}

.foot {
  background : #212124 none repeat scroll 0 0;
  bottom : 0;
  font-size : 14px;
  left : 0;
  position : absolute;
  text-align: center;
  width : 100%;
  height: 10%;
}

.foot .foot-container{
	margin : 0 auto;
	position: relative;
	width : 1060px auto;
}


.foot .foot-container .foot-container-top{
	height: 35%;
}
.foot .foot-container .foot-container-center{
	height : 40%;
}
.foot .foot-container .foot-container-bottom{
	height : 35%;
}