@CHARSET "utf-8";

p{
	color: white;
	margin : 2px;
}

.foot .foot-container .foot-container-top>p{
	margin-bottom : 5px;	
}

.foot .foot-container .foot-container-center>p{
	margin-bottom : 5px;	
}

.foot .foot-container .foot-container-bottom>p{
	margin-bottom : 0px;	
}






.foot {
  background : #212124 none repeat scroll 0 0;
  bottom : 0px;
  font-size : 14px;
  left : 0;
  position : fixed;
  text-align: center;
  width : 100%;
  height: 80px;
}

.foot .foot-container{
	margin : 0 auto;
	position: relative;
	width : 1060px auto;
}


.foot .foot-container .foot-container-top{
	height: 30%;
}
.foot .foot-container .foot-container-center{
	height : 40%;
}
.foot .foot-container .foot-container-bottom{
	height : 30%;
}