@CHARSET "EUC-KR";

.header {
	height: 10%;
}

.center {
	background-image: url(../../../images/main/main_4.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height: 1000px;
	margin-top: -35px;
	margin-bottom: -2px;
}

.register {
	padding-top: 50px;
}

.selectbox {
	width: 300px;
	display: inline;
}

.selectbox select {
	height: 35px;
}

.birth {
	display: inline-block;
}

.login {
	text-align: center;
}

.login .btn {
	margin-top: 50px;
}

.center_left {
	margin-top: 50px;
	margin-left: 30px;
	margin-right: -30px;
}

.register h1 {
	padding-left: 150px;
	color: white;
}

.center .form-group {
	color: white;
}

.center span {
	color: white;
}

#register_area .form-group {
	padding-top: 10px;
	padding-bottom: 10px;
}

#email_area {
	padding-bottom: 0px;
}

#pass_area {
	padding-top: 0px;
}

#gender_area{
	margin-left: -10px;
}

#category_area {
	top: -50px;
}

.interestLabel h4 {
	color: white;
	font-weight: bold;
	font-size: 17px;
}

.row img {
	width: 120px;
	height: 90px;
}

.thumbnail {
	width: 130px;
	height: 100px;
}

.category {
	position: relative;
}

.title {
	position: absolute;
	padding-top: 70px;
	color: white;
	font-size: 17px;
	font-weight: bold;
}

.img1, .img2, .img3, .img4, .img5, .img6, .img7, .img8, .img9, .img10,
	.img11, .img12 {
	position: absolute;
}

.Interest {
	cursor: pointer;
}

.Interest .interestWrapper {
	border-radius: 6px;
	box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.25);
	display: block;
	height: 100%;
	overflow: hidden;
	position: relative;
	transition: transform 0.1s ease-in-out 0s;
	width: 100%;
}

.Interest.FollowButton {
	background: #fff none repeat scroll 0 0;
	border-radius: 6px;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
	height: 120px;
}

.Interest .wholeInterestMask {
	cursor: pointer;
	position: absolute;
	z-index: 101;
}

.Interest .interestWrapper .interestImage {
	background: #fff none repeat scroll center center/cover;
	border-radius: 6px;
	display: block;
	height: 100%;
	opacity: 0.8;
	position: relative;
	transition: opacity 0.1s ease-in-out 0s;
	width: 100%;
}

.Interest .interestWrapper .interestLabel {
	bottom: 0;
	position: absolute;
	width: 100%;
	z-index: 102;
}

.Interest .wholeInterestMask .check {
	background: rgba(0, 0, 0, 0) url("../../../images/main/checkbox.png")
		no-repeat scroll -393px -37px;
	height: 35px;
	margin: 47px;
	position: absolute;
	width: 35px;
	z-index: 102;
}

.Interest .wholeInterestMask .mask {
	background-color: black;
	border-radius: 6px;
	height: 120px;
	opacity: 0.5;
	position: absolute;
	top: 0;
	width: 123px;
}

#category_no {
	display: none;
}