@CHARSET "UTF-8";

thead th {
	text-align: center;
}

table a {
	color: black !important;
}

table a:HOVER, a:FOCUS {
	color: #0553a9 !important;
}

.admin-center {
	margin-left: auto;
	margin-right: auto;
}

/**************************************************************/
/* member_Admin css */
/**************************************************************/
.member-admin-center td {
	font-size: 12px;
}

#member-admin-center {
	height: 850px;
	width: 1330px;
}

#member-admin-center .member_table {
	float: left;
	text-align: center;
	width: 650px;
	height: 578px;
	margin-left: 20px;
	margin-right: 20px;
}

#member-admin-center .black_table {
	float: right;
	text-align: center;
	width: 580px;
	height: 578px;
	margin-right: 20px;
	margin-left: 20px;
}

.memberlist thead th {
	font-size: 12px;
}

.blacklist thead th {
	font-size: 12px;
}

/**************************************************************/
/* report_Admin css */
/**************************************************************/
.reportlist-tbody p {
	margin-top: 25px;
}

.reportlist-tbody img {
	width: 100px;
	height: 70px;
}

#report-admin-center {
	margin-top: 50px;
	margin-left: 110px;
}

#report-admin-center table {
	margin-top: 50px;
	width: 1100px;
}

#report-admin-center .report_table .reportlist {
	text-align: center;
}

.btn-css {
	margin-top: 15px !important;
}

/**************************************************************/
/* tag_Admin css */
/**************************************************************/
#tag-admin-center {
	
}

.tag_table {
	width: 400px;
	float: left;
	margin-left: 50px;
	margin-top: 20px;
}

.tag_table table {
	margin-top: 50px;
}

.tag_graph {
	margin-top: 20px;
	width: 800px;
	float: right;
	border: 1px solid red;
	width: 800px;
}

#tag-admin-center .tag_table .taglist {
	text-align: center;
}

/**************************************************************/
/* category_Admin css */
/**************************************************************/
.category-add {
	margin-left: 70px;
	margin-top: 20px;
	width: 500px;
	float: left;
	margin-top: 20px;
}

.category-add table {
	margin-top: 50px;
}

.category-manage {
	margin-top: 50px;
	margin-right: 50px;
	width: 700px;
	float: right;
	text-align: center;
}

.button-css {
	text-align: center;
}

#add_btn {
	margin-left: 220px;
}