@CHARSET "UTF-8";

thead th{
	text-align: center;
}

table a{
	color: black !important;
}
table a:HOVER, a:FOCUS{
	color: #0553a9 !important;
}

.admin-center{
	width: 1400px;
	margin-left: auto;
	margin-right: auto;
}

/**************************************************************/
											/* member_Admin css */
/**************************************************************/

.member-admin-center td{
	font-size: 12px;
}

#member-admin-center{

}

#member-admin-center .member_table{
	width: 49%;
	float: left;
	text-align: center;
}

#member-admin-center .black_table{
	width: 49%;
	float: right;
	text-align: center;
}

.memberlist thead th{
	font-size: 12px;
}
.blacklist thead th{
	font-size: 12px;
}

/**************************************************************/
											/* report_Admin css */
/**************************************************************/

.reportlist-tbody p{
	margin-top: 25px; 
}

.reportlist-tbody img{
	width: 100px;
	height: 70px;
}

#report-admin-center{

}
#report-admin-center .report_table .reportlist{
	text-align: center;
}

.btn-css{
	margin-top: 15px !important;
}

/**************************************************************/
											/* tag_Admin css */
/**************************************************************/

#tag-admin-center{

}

.tag_table{
	width: 400px;
	float: left;
}

.tag_graph{
	width: 800px;
	float: right;
	border: 1px solid red;
}

#tag-admin-center .tag_table .taglist{
	text-align: center;
}

/**************************************************************/
											/* category_Admin css */
/**************************************************************/

.category-add{
	margin-top: 20px;
	width: 500px;
	float: left;
}

.category-manage{
	margin-top: 20px;
	width: 700px;
	float: right;
}

.button-css{
	text-align: center;
}
