@CHARSET "UTF-8";

td{
	font-size: 12px;
}

#member-admin-center{
	width: 1400px;
	margin-left: auto;
	margin-right: auto;
}

#member-admin-center .member_table{
	width: 49%;
	float: left;
}

#member-admin-center .black_table{
	width: 49%;
	float: right;
}