@CHARSET "EUC-KR";

body {
	font-family: "맑은 고딕", "Malgun Gothic", sans-serif;
}

h1, h2, h3, h4, h5 {
	font-family: "Helvetica Neue", Helvetica, Arial, "NanumBarunGothic",
		sans-serif;
}

#art_con_table{
	width: 500px;
}

#title{
	width: 200px;
}

#title label{
	width: 150px;
}

#content{
	width: 300px;
}

#content input{
	width: 250px;
}


#star {
	cursor: pointer;
	width: 200px;
}